<section>
  <strong>Goal: </strong>
  Build a real working timer using Angular and RxJS

  <div>
    <div class="reqirementLabel">Requirements</div>
    <ol>
      <li>
        Fix the "Workspace" button so it correctly routes to the Workspace
        component.
        <p>Bonus: Use lazy loading</p>
      </li>

      <li>
        Build a timer in the Workspace component. When first loading the
        component, the timer shall be in an “initial” state:
        <br /><br />
        <a class="button call-button answer-button">
          <i class="material-icons" style="color: white;">call</i>
        </a>

        <p>Background: #5EA100</p>
        <p>
          Image:
          <em>&lt;i class="material-icons"&gt;call&lt;/i&gt;</em>
        </p>
      </li>
      <li>
        When clicking the timer button it should start counting up from 00:00
        with a precision of one second. Use RxJS instead of setTimeout.
        <br /><br />
        <a class="button call-button hangup-button">
          <div
            style="display: flex; align-items: center; justify-content: center;"
          >
            <i
              class="material-icons"
              style="color: white; transform: rotate(-225deg); position: relative; top: 2px;"
              >call</i
            >
            <span
              style="margin-left: 1rem; color: white; justify-content: right"
              >00:00</span
            >
          </div>
        </a>
        <p>Rotation of phone icon: -225deg</p>
        <p>Background: #aa2222</p>
      </li>
      <li>
        The timer shall continue counting up until clicking the button again at
        which point it should return to the “initial” state.
      </li>
      <li>
        When clicking the button again the timer should start back at step 3.
      </li>
    </ol>
  </div>
</section>
